/*===================
        HEADER CSS     
=====================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  height: $header-height;

  background-color: $black-color;
  &__wrapper {
    display: flex;
    @media screen and (max-width: 1023px) {
      justify-content: space-between;
      align-items: center;
    }
  }
  &__logo {
    img {
      width: 25rem;
      height: 6rem;
    }
  }
  &__menu {
    display: flex;
    padding-left: 2rem;
    @media screen and (max-width: 1023px) {
      display: flex;
      flex-direction: column;

      position: absolute;
      top: 0;
      right: -100%;
      padding: 1rem 0;

      width: 32%;
      height: 100vh;

      background-color: $black-color;

      transition: all 0.5s ease-in-out;

      overflow-y: auto;
      z-index: 100;
    }
    @media screen and (max-width: 767px) {
      width: 65%;
    }
    @media screen and (max-width: 374px) {
      width: 70%;
    }

    &.active {
      @media screen and (max-width: 1023px) {
        right: 0;
      }
    }
  }
  &__item {
    display: inline-block;
    position: relative;

    padding: 0 1rem;
    &:before {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      border-bottom: 4px solid $primary-color;

      transform: scale(0, 1);
      transform-origin: left center;
      transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;

      opacity: 0;
    }
    &:hover:before,
    &.active:before {
      transform: scale(1, 1);
      opacity: 1;
    }
    &.has-child {
      &:hover {
        ul {
          pointer-events: visible;
          opacity: 1;
          top: 100%;
        }
      }
      .header__item {
        margin-left: 0;
      }
    }
    @media screen and (max-width: 1023px) {
      padding-left: 1rem;
    }
    &.has-child {
      & > a {
        @media screen and (max-width: 1023px) {
          padding-bottom: 1rem;
          border-bottom: 4px solid $primary-color;
        }
      }
    }
    &:before {
      @media screen and (max-width: 1023px) {
        content: unset;
      }
    }
  }
  &__link {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 6rem;

    text-transform: uppercase;

    color: $white-color;
    @media screen and (max-width: 1023px) {
      line-height: 4;
    }
  }
  &__submenu {
    position: absolute;
    top: 200%;
    left: 0;

    width: 250px;
    padding: 1rem;

    background-color: $white-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    opacity: 0;
    pointer-events: none;

    transition: all 0.5s ease;
    li {
      padding: 1.2rem 1rem;
    }
    .header__link {
      color: $black-color;
      line-height: 1.3;
    }
    .header__link {
      @media screen and (max-width: 1023px) {
        color: $white-color;
        
      }
    }
  }
  &__toggle {
    display: none;
    cursor: pointer;
    color: $white-color;
    font-size: 2.4rem;
    @media screen and (max-width: 1023px) {
      display: inline-block;
    }
  }
}
li.header__item.has-child .header__submenu {
  @media screen and (max-width: 1023px) {
    top: unset;
    position: relative;
    display: block;
    opacity: 1;
    width: auto;
    box-shadow: unset;
    background-color: transparent;
  }
}
